rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /fighters/{fighterId} {
      allow read, write: if true; // Altere no futuro para autenticação
    }
  }
}