.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .loginButton {
    background-color: #f04;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button {
    background-color: #007bff; /* Azul para Profile */
    color: #fff;
    border: none;
    padding: 10px 20px; /* Define o tamanho do botão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    margin-left: 10px; /* Espaço entre os botões */
    font-size: 14px;
  }
  
  .button.logout {
    background-color: #ff4b5c; /* Vermelho para Logout */
  }
  
  .button:hover {
    opacity: 0.9; /* Efeito ao passar o mouse */
  }
  
  .buttonsContainer {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o username e os botões */
    margin-left: auto; /* Move o contêiner para o extremo direito */
  }

  .welcomeMessage {
    font-size: 16px;
    color: #fff;
    margin-right: 10px; /* Espaço entre o texto e os botões */
  }